<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="author" content="">
  <meta name="description" content="">
  <link rel="icon" href="{{ url_for('static', filename='img/favicon.ico') }}">
  <title>{% block title %}{% endblock %} - {{ config.APPLICATION_NAME }}</title>
</head>
<body>
