<nav>
  <ul>
    <li><a href="{{ url_for('core.index') }}">{{ config.APPLICATION_NAME }}</a></li>
    {% if current_user.is_active and current_user.is_admin %}
    <li><a href="{{ url_for('admin.index') }}">{{ _('Administration') }}</a></li>
    {% endif %}
    {% if current_user.is_anonymous %}
    <li><a href="{{ url_for('user.register') }}">{{ _('Register') }}</a></li>
    <li><a href="{{ url_for('user.login') }}">{{ _('Login') }}</a></li>
    {% endif %}
    {% if current_user.is_active %}
    <li><a href="{{ url_for('user.logout') }}">{{ _('Logout') }}</a></li>
    {% endif %}
  </ul>
</nav>
{% with messages = get_flashed_messages() %}
  {% if messages %}
  <section>
    {% for message in messages %}
    <div class="" role="alert">{{ message }}</div>
    {% endfor %}
  </section>
  {% endif %}
{% endwith %}

