{% extends 'base.html' %}

{% block title %}{{ _("Login") }}{% endblock %}

{% block content %}
<section id="login">
  <form method="POST" action="{{ url_for('admin.login') }}">
  {{ g.form.csrf_token }}
  {{ g.form.hidden_tag() }}
  {{ g.form.login.label }} {{ g.form.login(size=60) }}
  <br />
  {{ g.form.password.label }} {{ g.form.password(size=60) }}
  <br />
  <input type="submit" value="{{ _('Connect') }}" />
  </form>
</section>
{% endblock %}
