{% extends 'base.html' %}

{% block title %}{{ _("Registration") }}{% endblock %}

{% block content %}
<section id="register">
  <form method="POST" action="{{ url_for('user.register') }}">
  {{ g.form.csrf_token }}
  {{ g.form.hidden_tag() }}
  {{ g.form.login.label }} {{ g.form.login(size=60) }}
  <br />
  {{ g.form.password.label }} {{ g.form.password(size=60) }}
  <br />
  {{ g.form.password_second.label }} {{ g.form.password_second(size=60) }}
  <br />
  <input type="submit" value="{{ _('Register') }}" />
  </form>
</section>
{% endblock %}
